header, nav, main {
    max-width: 960px;
    margin: 0 auto;
}
#headerWrapper {
    background-color: white;
}

/* NAVIGATION STUFF GOES HERE  */
 #hamburgerBtn {
    display: none;
 }

 .moveOver>.content {
    transform: translateX(0px);
 }
 #navWrapper {
    background-color: rgba($accentColor, 0.3);}
 nav {
    background-color: transparent;
    position: static;
    transform: translateX(0);
    width: auto;
    ul {
        display: flex;
        margin-left: $gutter;
       // border-left: 1px solid rgba(0,0,0,0.2);
    } //end ul
    ul li a {
        padding: .6rem 1.5rem;
        border: none;
       // border-right: 1px solid rgba(0,0,0,0.2);
    }
        li.active a {
        background-color: $secondaryColor;
        color: white;
}
        li.active a:hover {
        background-color: rgba($secondaryColor, 0.6); // 30% opacity example
        }
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
        border-radius: 10px;
    }
}
 
