/* NAVIGATION STUFF GOES HERE  */
section {
    grid-template-areas: 
        "photo name"
        "photo address"
        "photo phone";
        //grid-template-columns: 250px auto;
        //column-gap: 8px;
}