/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;
background-color: rgba($accentColor, 0.3);}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        color: $primaryColor;

    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#hamburgerBtn {
    width: 44px;
    height: 44px;
    margin: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #444;
    &:before {
        content: "\2630";
    }
} //end button

nav {
    background-color: rgba($accentColor, 0.2);
    width: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    ul li a {
        display: block;
        padding: .9rem .5rem;
        text-align: right;
        border-bottom: 1px rgba(0,0,0,0.25) solid;
        text-decoration: none;
        color: $primaryColor;
    }
    ul li a:hover {background-color: rgba(0,0,0,0.1);}
    li.active a {
        color: $secondaryColor;
        font-weight: bold;
    }
}//end nav
.moveOver #hamburgerBtn::before {
    content: "\2715";
}
.moveOver>.content {
    transform: translateX(-180px); //moves everthing sideways
    transition: transform 500ms ease; //animate the slide
}
#pageWrapper {
    position: relative; //stops side sliding to see the menu items
    overflow-x: hidden; //stops extra space to the right of the nav links
}













/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: bold;


    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main

#cards { 
    section {
        display: grid;
        grid-template-areas: "photo" "name" "address" "phone";
        padding: $gutter;
        border: 1px solid rgba(0,0,0,0.2);
        background-color: rgba($accentColor, 0.2);

}
img.img {
    grid-area: photo;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;

}
h2 {
    grid-area: name;
    font-size: 1.2rem;
    margin: 1rem 0;

}
address {grid-area: address;
    font-style: normal;
    line-height: $leading;
    margin: 0 0 1rem 0;
}
a {
    grid-area: phone;
    text-decoration: none;
    color: white;
    border: 1px solid $accentColor;
    padding: .4rem .6rem;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: $accentColor;
    
}}
/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}