$primaryColor: #3e103f; 
$secondaryColor: #bc31bc;
$accentColor: #2f9e7b;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;